body{
margin:0px;
background-color: #1e2452;
}

header{
    background-color: #1e2452;
    height: 150px;
    width: 100%;
    margin: 0px;
    text-align: center;
}

/*Des codes pour organizer le menu, la droit des options pour de vendeur et du client, 
au millieu la logo et a gauche des options pour l'achat*/
.menu-gauche{
    list-style: none;
    float: left;
}
.menu-gauche li {
    position: relative;
    float: left;
    margin:40px;
}
.menu-gauche a{
    color: #fdba13;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    text-decoration: none;
}
#logo{
    height: 110px;
    padding-top: 25px;
}
.menu-droit{
    list-style: none;
    float: right;
    margin-right: 50px;
}
.menu-droit li {
    position: relative;
    float: right;
    margin:40px;
}
.menu-droit a{
    color: #fdba13;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    text-decoration: none;
}


main{
    background-color: #f9edd6;
    padding: 40px 80px 25px 80px;
    margin:0px;  
}
.taille-main{
    height: 870px;
}
h1{
    color: #ed6635;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    margin-top: 0px;
}
h2{
    color: #ed6635;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    display: inline;
}
p{
    font-family: 'Open Sans', sans-serif;
    color:#1e2452;
    font-size: 20px;
    padding-top: 7px;
    margin:0px;
}
a{
    font-family: 'Open Sans', sans-serif;
    color:#1e2452;
    font-size: 20px;
    padding-top: 7px;
    margin:0px;
    text-decoration: none;
}
li{
    color: #fdba13;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
}

/*Image derrier le titre*/
.background h1{
    position: absolute;
    margin-top:-75px;
    margin-left:10px;
    color: #fdba13;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
}
.background h3{
    position: absolute;
    margin-top:-50px;
    margin-left:10px;
    color: #1e2452;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
}

/*Boîtes pour bienn diviser des options disponibles dans chaque categorie dans la page principale*/
.box-cat{
    width: 150px;
    display: inline-block;
    padding: 50px;
    text-align: center;
}
.box-cat a{
    text-decoration: none;
}

th{
    padding: 20px;
}

/*Dans la page des magasins, il faut diviser la page en deux. Ceci est la partie d'articles*/
#produit{
    width: 980px;
    float: left;
}
.box-article{
    width: 260px;
    height: 300px;
    display: inline-block;
    margin:0px;
    padding: 30px 20px;
    text-align: center;
}
.box-article li{
    list-style-type: none;
}
.taille-item{
    height: 60px;
    text-align: center;
}
.box-article p{
    color:#ed6635;
}
.box-article h2{
    font-size: 22px;
}

/*Dans la page magasin, il faut avoir une partie pour la description du commerce. Ceci est cette partie.*/
.aside{
    display: inline-block;
    padding: 30px 10px 30px 40px;
    width: 600px;
    height: 650px;
}
.aside p{
    height: 200px;
    margin: 40px;
    margin-bottom:0px;
    padding: 75px;
    background-color: #ed66357a;
    font-weight: bolder;
    font-size: 22px;
}
.aligne{
    padding: 0px;
    margin: 15px 40px 40px 60px;
}

/**/
.container{
    background-color: #fdba13;
    padding: 40px;
    height: 600px;
    width: 1000px;
    margin-right: 80px;
    margin-top: 80px;
    float: left;
}
.container h1{
    color: #f9edd6;
}
#insert{
    text-align: right;
}
.container ul{
    padding: 0px;
}
.container li{
    color: #1e2452;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
    padding: 12px;
}
.container input{
    width: 550px;
    height: 30px;
    background-color: #f9edd6a4;
    border-radius: 5px;
    border: 0px;
    color: #1e2452;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.image-compte{
    width: 300px;
    margin: 130px 80px;
}
#clickMe{
    width: 300px;
    height: 90px;
    background-color: #ed6635;
    border-radius: 15   px;
    border: 20px solid #fdba13;
    color: #1e2452;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 350px;
    margin-top: 30px;
}

/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
.box{
    background-color: rgba(253, 187, 19, 0.822);
    width: 30%;
    height: 700px;
    display: inline-table;
    margin: 70px 10px;
    padding: 0px;
    text-align: center;
}
.box img{
    padding: 15px;
}
.box h2{
    color: #f9edd6;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    margin-top:45px;
    margin-left:-390px;
}
.box p{
    font-family: 'Open Sans', sans-serif;
    color:#1e2452;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
    margin:0px;
}
.box ul{
    float:left;
    width: 80%;
    list-style: square;
}
.box li{
    font-family: 'Open Sans', sans-serif;
    color:#ed6635;
    font-size: 15px;
    font-weight: bold;
    padding-right: 60px;
    padding-left: 0px;
    margin:10px;
    position: relative;
    float: right;
}
.box button{
  background-color: rgba(69,89,135, 0.85);
  padding: 14px 20px;
  margin: auto;
  margin-top:20px;
/*  border-radius: 8px;*/
  border: none;
  color: #f9edd6;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 40px;
  width: 300px;
  display:block;
  transition-duration: 0.4s;
  transform: rotate(-5deg);
}
.box button:hover{
    background-color:#455987;
}
.box label{
    font-family: 'Open Sans', sans-serif;
    color:#1e2452;
    font-size: 20px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
}
.box input{
    height: 25px;
    padding: 0 12px;
    border-radius: 3px;
    border: none;
    background-color: rgba(249, 237, 214, 0.767);
}

.login {
    margin: 60px;
}

/*id exclusive pour la page d'erreur*/
#erreur{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
}
#erreur p{
    font-size: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#1e2452;
    padding-top: 7px;
    margin:0px;
}

footer{
    background-color: #1e2452;
    height: 100px;
    width: 100%;
    clear: both;
}
